<!-- text allign div bellow -->
<div class="main-container"> 
<h1 Style="text-align: center;">Guitar Shop</h1>
<h3 Style="text-align: center;">Welcome to my guitar shop</h3>

<br>


    <!-- image added -->
<img src="assets/image/guitar_logo.png">
<br>
<br>
<br>
    <span class="title-center">

</span>
<mat-toolbar color="black"> 
     <!-- calls read and edit component -->
        <mat-toolbar-row>
<button mat-button [routerLink]="['/read']">View Guitars</button>
<button mat-button [routerLink]="['/create']">Add Guitars</button>
</mat-toolbar-row>

</mat-toolbar>
</div>
<router-outlet></router-outlet>