
<mat-card>
  <form (submit)="onEditGuitar(guitarForm)" #guitarForm="ngForm">
    <mat-form-field>
          <label> Edit Guitar Brand</label>
          <br>
        <input
          matInput
          type="text"
          name="brand"
          ngModel={{guitar.brand}}
          required
          #brand="ngModel">
      </mat-form-field>
      <br>
      <mat-form-field>
          <label>Edit Guitar Type</label>
          <br>
        <textarea
          matInput
          name="type"
          ngModel={{guitar.type}}
          required
          #type="ngModel"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
          <label>Edit Guitar Poster</label>
          <br>
        <textarea
          matInput
         rows="4"
          name="poster"
          ngModel={{guitar.poster}}
          required
          #poster="ngModel"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Edit Guitar Price</label>
        <br>
      <textarea
        matInput
        name="price"
        ngModel={{guitar.price}}
        required
        #price="ngModel"></textarea>
    </mat-form-field>
    <br>
      <button
        mat-raised-button
        color="accent"
        type="submit">Edit Guitar</button>
    </form>
  </mat-card>
